body {
    background-image: linear-gradient(135deg,  #2e3e59, #c7426a);
    
    font-family: 'Montserrat', sans-serif;
    height: 110%;
}

.header {
    width: 100%;
    background-image: linear-gradient(135deg, #2e3e59, #455879);
   
    display: flex;
    font-size: 200%;
    padding: 40px;
    color:rgb(212, 208, 208);
    border-bottom: 1px solid rgb(212, 208, 208);
    box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 250ms;
}

.header h1 {
    font-size: 200%;
    font-weight: bolder;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color: rgb(212, 208, 208);
    width: 100%;
    transition: all ease-in-out 3s;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-image: linear-gradient(135deg,  #db587f, #c7426a);
    background-color: #c7426a;
    transition: all ease-in-out 250ms;
}


.nav-link-left {
    
    border-bottom: 1px solid rgb(212, 208, 208);
    padding: 10px;
   width: 33.3%;
    text-align: center;
    
}

.nav-link-center {
   
        
        border-bottom: 1px solid rgb(212, 208, 208);
        padding: 10px;
        width: 33.3%;
        text-align: center;
        
    }

 .nav-link-right {
    
        
    border-bottom: 1px solid rgb(212, 208, 208);
        padding: 10px;
      width: 33.3%;
      text-align: center;
      
    
 }   

 .nav-link-center:hover {
     transition: ease 0.5s;
     background-color: rgb(212, 208, 208);
     color: #2e3e59;
     transform: scale(1.1);
 }
 .nav-link-left:hover {
     transition: ease 0.5s;
    background-color: rgb(212, 208, 208);
    color: #2e3e59;
    transform: scale(1.1);
}

.nav-link-right:hover {
    transition: ease 0.5s;
    background-color: rgb(212, 208, 208);
    color: #2e3e59;
    transform: scale(1.1);
}


.showcase {
    
    height: 600px;
    width: 100%;
    margin-bottom: none;
    background-image: url("../images/image\ \(2\)\ \(2\).jpg");
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 20px black inset;
    transition: all ease-in-out 250ms;
   display: flex;
   justify-content: center;
   align-items: center;
}

.showcase img {
    box-shadow: 0 0 20px black ;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 208, 208);
    position: relative;
    bottom: 0px;
    padding: 20px;
}

.about h2 {
    font-size: 150%;
}

.applications h2 {
    font-size: 150%;
}

.contact h2 {
    font-size: 150%;
}

.info-item i {
    font-size: 150%;
}

.info-item span {
    font-size: 130%;
}


.about {
    width: 100%;
    background-image: linear-gradient(135deg,  #c7426a, #cf6685);
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color: rgb(212, 208, 208);
}

.applications {
    width: 100%;
    background-image: linear-gradient(135deg,  #6b3c48, #8a5562 );
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color:  rgb(212, 208, 208);
}

.contact {
    width: 100%;
    background-image: linear-gradient(135deg, #2e3e59, #455879);
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color: rgb(212, 208, 208);
}

.about:hover {
    background-image: linear-gradient(135deg,  #cf6685, #c7426a);
    transition: ease 1s;
    border-top: 1px solid rgb(212, 208, 208);
    border-bottom: 1px solid rgb(212, 208, 208);
}

.applications:hover {
    scale: 1.5;
    background-image: linear-gradient(135deg, #8a5562 , #6b3c48);
    transition: ease 1s;
    
    border-top: 1px solid rgb(212, 208, 208);
    border-bottom: 1px solid rgb(212, 208, 208);
}

.contact:hover {
    scale: 1.5;
    background-image: linear-gradient(135deg, #455879, #2e3e59);
    transition: ease 1s;
    transition: transform 1s linear;
    border-top: 1px solid rgb(212, 208, 208);
    border-bottom: 1px solid rgb(212, 208, 208);
    
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 208, 208);
    position: relative;
    bottom: 0px;
    padding: 20px;
}



.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-item {
    padding: 20px;
}

.card1 {
    background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
    width: 620px;
    height: 423px;
    
}

.card2 {
    background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
    width: 279px;
    height: 190.35px;
}

.card3 {
    background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
    width: 279px;
    height: 190.35px;
}

.card4 {
    background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
    width: 279px;
    height: 190.35px;
}

.card5 {
    background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
    width: 279px;
    height: 190.35px;

}

.app-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app23 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    position:relative;
    justify-content: center;
    column-gap: 50px;
    row-gap: 45px;
    
}

.card1:hover {
    transform: scale(1.1);
    transition: ease-in-out 250ms;
    box-shadow: 0 0 20px black ;
    cursor: pointer;
}
.card1 p {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 200%;
    transition: ease-in-out 250ms;
}



.card:hover {
    transform: scale(1.2);
    transition: ease-in-out 250ms;
    box-shadow: 0 0 20px black ;
    color: rgb(63, 62, 62);
    padding: 10px;
    cursor: pointer;
}

.card p {
    
    font-size: 200%;
    transition: ease-in-out 250ms;
}

@media only screen and (max-width: 750px) {
    .header {
        width: 100%;
        background-image: linear-gradient(135deg, #2e3e59, #455879);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 150%;
        padding: 20px;
        color: rgb(212, 208, 208);
        text-align: center;
        border: none;
    }
    
    
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(211, 209, 209);  
        background-color: #c7426a;
    }
    
    body {
        background-color: #c7426a;
        
    }

    .nav-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: #c7426a;
        background-image: none;
    }
    
    .nav-link {
        padding: 10px;
        background-color: #c7426a;
    }
    
    
    .nav-link-left {
        
        border-bottom: 1px solid rgb(212, 208, 208);
        padding: 10px;
       width: 100%;
        text-align: center;
    }
    
    .nav-link-center {
       
            
            border-bottom: 1px solid rgb(212, 208, 208);
            padding: 10px;
            width: 100%;
            text-align: center;
        }
    
     .nav-link-right {
            padding: 10px;
          width: 100%;
          text-align: center;
          border-bottom: none;
     }   
    

    .showcase {
    box-shadow: 0 0 20px black inset;
    justify-content: center;
    display: flex;
    align-items: center;
    }

    .showcase img {
        width: 80%;
        height: auto;
    }


    .footer {
        display: flex;
        justify-content: center;
    }


    .card1 {
        background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
        width: 620px;
        height: 426;
        
    }
    
    .card2 {
        background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
        width: 279px;
        height: 190.35px;
    }
    
    .card3 {
        background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
        width: 279px;
        height: 190.35px;
    }
    
    .card4 {
        background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
        width: 279px;
        height: 190.35px;
    }
    
    .card5 {
        background-image: url(../images/derek-story-840Mgehu3Mw-unsplash.jpg);
        width: 279px;
        height: 190.35px;
    
    }
    
    .app-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .app23 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        position:relative;
        justify-content: center;
        column-gap: 50px;
        row-gap: 45px;
        
    }
    
    .card1:hover {
        transform: scale(1.1);
        transition: ease-in-out 250ms;
        box-shadow: 0 0 20px black ;
        cursor: pointer;
    }
    .card1 p {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 200%;
        transition: ease-in-out 250ms;
    }
    
    
    
    .card:hover {
        transform: scale(1.2);
        transition: ease-in-out 250ms;
        box-shadow: 0 0 20px black ;
        color: rgb(63, 62, 62);
        padding: 10px;
        cursor: pointer;
    }
    
    .card p {
        
        font-size: 200%;
        transition: ease-in-out 250ms;
    }

}